.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 495px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 505px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 52px;
}

.u-section-1 .u-text-1 {
  margin: 90px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 8px;
}

.u-section-1 .u-text-3 {
  margin: 12px 8px 0;
}

.u-section-1 .u-btn-1 {
  margin: 37px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 505px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 13px;
}

.u-section-1 .u-group-1 {
  min-height: 420px;
  width: 500px;
  background-image: linear-gradient(to right, #478ac9, #adf6f2);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-map-1 {
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-1 {
    pointer-events: auto;
    min-height: 487px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 436px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-map-1 {
    height: 418px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 307px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 415px;
}

.u-section-2 .u-shape-1 {
  width: 1121px;
  height: 43px;
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, #478ac9, #adf6f2);
  margin: 11px auto 0;
}

.u-section-2 .u-group-1 {
  width: 194px;
  min-height: 63px;
  margin: -53px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 25px 0 27px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 256px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 16px auto;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 336px;
  }

  .u-section-2 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 29px 22px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 29px 22px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 29px 22px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 17px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -67px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -153px;
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 18px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -10px;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 10px;
  }
}.u-section-3 {
  background-image: linear-gradient(to right, #478ac9, #adf6f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 910px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 19px auto 0;
}

.u-section-3 .u-group-1 {
  width: 1080px;
  min-height: 763px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-map-1 {
  width: 1060px;
  height: 743px;
  margin: 0 auto -20px 0;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-map-1 {
    width: 922px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-bottom: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-map-1 {
    width: 704px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-text-1 {
    width: 385px;
    margin-top: 18px;
  }

  .u-section-3 .u-map-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 28px;
  }

  .u-section-3 .u-map-1 {
    width: 340px;
    margin-right: -10px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 28px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 485px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-4 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 65px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 65px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 65px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-weight: 300;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}