.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
}

.u-section-1 .u-custom-php-1 {
  min-height: 15px;
  height: auto;
  width: 570px;
  margin: 30px auto 15px;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-php-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-php-1 {
    width: 340px;
  }
}