.u-section-1 .u-sheet-1 {
  min-height: 508px;
}

.u-section-1 .u-line-1 {
  border-style: dashed;
  top: 0;
  position: absolute;
  height: 534px;
  width: 3px;
  transform-origin: center top 0px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.25rem;
  margin: 143px 137px 0 758px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.25rem;
  margin: -39px 607px 0 36px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25rem;
  margin: 22px 36px 0 657px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25rem;
  margin: -44px 632px 0 61px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 77px auto 0 783px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -41px auto 60px 210px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 37px;
    margin-left: 658px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 493px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 493px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 475px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -162px;
    margin-right: 428px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 204px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 273px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 363px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 295px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -39px;
    margin-right: 43px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-4 {
    margin: -44px 93px 0 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 95px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 95px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}